<div class="container">
  <header>
    <h1><%= t("application.name") %></h1>
  </header>
  <main>
    <section class="collections">
    </section>
    <section class="decks">
    </section>
    <section class="selection empty">
      <p>(select a card to view its details)</p>
    </section>
  </main>
</div>
