.decks {
  padding: 1rem;

}

.card-list {
  margin: 0;

  li {
    @include ellipsis;
    display: block;
    margin: 0;
    padding: .25rem .5rem;
    cursor: pointer;

    &.selected {
      background-color: $action-color;
      color: white;
      border-radius: .25rem;
    }
  }
}
