.decks {
  @include display(flex);
  @include flex-direction(column);

  header {
    padding: 1rem;

    select {
      display: block;
      margin: 0;
      width: 100%;
      padding: .25rem;
      font-size: 1rem;
    }
  }

  .card-list {
    @include flex(1);
    padding: 1rem;
    overflow-y: auto;
  }
}

.card-list {
  margin: 0;

  li {
    @include ellipsis;
    display: block;
    margin: 0;
    padding: .25rem .5rem;
    cursor: pointer;

    &.selected {
      background-color: $action-color;
      color: white;
      border-radius: .25rem;
    }
  }
}
