.decks {
  @include display(flex);
  @include flex-direction(column);

  header {
    padding-bottom: 0 !important;

    select {
      display: block;
      margin: 0;
      width: 100%;
      padding: .25rem;
      font-size: 1rem;
    }

    .filters {
      @include display(flex);
      @include flex-direction(row);

      input { display: none; }

      label {
        @include ellipsis;
        @include flex(1 0 30%);
        margin: 0;
        text-transform: capitalize;
        text-align: center;
        padding: $small-spacing 0;
        border-bottom: 1px solid white;
        opacity: .25;
        cursor: pointer;
      }

      :checked + label {
        opacity: 1;
      }
    }
  }

  .card-list {
    @include flex(1);
    padding: 1rem;
    overflow-y: auto;
  }
}

.card-list {
  margin: 0;

  li {
    @include ellipsis;
    display: block;
    margin: 0;
    padding: .25rem .5rem;
    cursor: pointer;

    &.selected {
      background-color: $action-color;
      color: white;
      border-radius: .25rem;
    }
  }
}

select {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  color: #333;
  background-color: #fff;

  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}
