body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $base-background-color;
}

.container {
  @include position(fixed, 0rem 0rem 0rem 0rem);
  @include display(flex);
  @include flex-direction(column);

  > header {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    height: 3.5rem;
    background: #222;
    padding: 1rem 3.5rem;

    h1 {
      color: white;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.5rem;
      margin: 0;
      padding: 0;
    }
  }

  main {
    @include flex(1);
    @include display(flex);
    @include flex-direction(row);
    background: $base-background-color;

    > section {
      @include flex(1 0 33%);
      @include display(flex);
      @include flex-direction(column);

      header {
        @include flex(0 0);
        padding: 1rem;

        h3 {
          margin: 0 .25rem;
          font-size: 1rem;
          font-weight: bold;

          &:not(:last-child) {
            margin-bottom: $small-spacing;
          }
        }
      }

      .card-list {
        @include flex(1);
        padding: 1rem;
        overflow-y: auto;
      }
    }

    .collections {
      @include order(-1);
    }

    .selection {
      @include order(0);
      background: $secondary-background-color;
      padding: 1rem;
      overflow-y: auto;

      &.empty {
        @include align-items(center);
        @include justify-content(center);
        color: rgba(white, .25);
        padding: 2rem;

        p {
          text-align: center;
          margin: 0;
        }
      }
    }

    .decks {
      @include order(1);
    }
  }
}
